<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/modificarUsuario}" th:object="${Usuario}" method="post">

    <p><input type="hidden" th:field="${id}" /></p>

    <p>Name: <input type="text" th:field="${name}" /></p>
    <p>Message: <input type="text" th:field="${content}" /></p>
    <p>Email: <input type="text" th:field="${email}" /></p>
    <p><input type="submit" value="Save" />

        <input type="reset" value="Reset" /></p>
</form>
</body>
</html>